body {
    background-image: url('Images/ONEPIECE.jpg') !important;
    background-size: cover;
    background-color: #222; /* Темный фон, если картинка не загрузится */
    margin: 0;
}

.card {
    border: 2px solid gold;
    width: 200px;
    margin: 10px;
    padding: 15px;
    display: inline-block; /* Это поставит карточки в ряд */
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
}

.jinbe-card {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    border: 3px solid blue;
}